info:
  contact:
    email: ecosystem@atlassian.com
  description: Jira Cloud platform REST API documentation
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  title: The Jira Cloud platform REST API
  version: 1001.0.0-SNAPSHOT-ef55481e3249757dd639723a2c7a91b5bcc8136a
openapi: 3.0.1
paths:
  /rest/api/3/issue/{issueIdOrKey}/worklog:
    post:
      deprecated: false
      description: |-
        Adds a worklog to an issue.

        Time tracking must be enabled in Jira, otherwise this operation returns an error. For more information, see [Configuring time tracking](https://confluence.atlassian.com/x/qoXKM).

        This operation can be accessed anonymously.

        **[Permissions](#permissions) required:**

         *  *Browse projects* and *Work on issues* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.
         *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
      operationId: addWorklog
      parameters:
        - description: The ID or key the issue.
          in: path
          name: issueIdOrKey
          required: true
          schema:
            type: string
        - description: Whether users watching the issue are notified by email.
          in: query
          name: notifyUsers
          schema:
            default: true
            type: boolean
        - description: |-
            Defines how to update the issue's time estimate, the options are:

             *  `new` Sets the estimate to a specific value, defined in `newEstimate`.
             *  `leave` Leaves the estimate unchanged.
             *  `manual` Reduces the estimate by amount specified in `reduceBy`.
             *  `auto` Reduces the estimate by the value of `timeSpent` in the worklog.
          in: query
          name: adjustEstimate
          schema:
            default: auto
            enum:
              - new
              - leave
              - manual
              - auto
            type: string
        - description: The value to set as the issue's remaining time estimate, as days (\#d), hours (\#h), or minutes (\#m or \#). For example, *2d*. Required when `adjustEstimate` is `new`.
          in: query
          name: newEstimate
          schema:
            type: string
        - description: The amount to reduce the issue's remaining estimate by, as days (\#d), hours (\#h), or minutes (\#m). For example, *2d*. Required when `adjustEstimate` is `manual`.
          in: query
          name: reduceBy
          schema:
            type: string
        - description: Use [expand](#expansion) to include additional information about work logs in the response. This parameter accepts `properties`, which returns worklog properties.
          in: query
          name: expand
          schema:
            default: ""
            type: string
        - description: Whether the worklog entry should be added to the issue even if the issue is not editable, because jira.issue.editable set to false or missing. For example, the issue is closed. Connect and Forge app users with *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg) can use this flag.
          in: query
          name: overrideEditableFlag
          schema:
            default: false
            type: boolean
      requestBody:
        content:
          application/json:
            example:
              comment:
                content:
                  - content:
                      - text: I did some work here.
                        type: text
                    type: paragraph
                type: doc
                version: 1
              started: 2021-01-17T12:34:00.000+0000
              timeSpentSeconds: 12000
              visibility:
                identifier: 276f955c-63d7-42c8-9520-92d01dca0625
                type: group
            schema:
              $ref: '#/components/schemas/Worklog'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worklog'
          description: Returned if the request is successful.
        "400":
          description: |-
            Returned if:

             *  `adjustEstimate` is set to `new` but `newEstimate` is not provided or is invalid.
             *  `adjustEstimate` is set to `manual` but `reduceBy` is not provided or is invalid.
             *  the user does not have permission to add the worklog.
             *  the request JSON is malformed.
        "401":
          description: Returned if the authentication credentials are incorrect.
        "404":
          description: Returned if the issue is not found or the user does not have permission to view it.
        "413":
          description: |-
            Returned if the per-issue limit has been breached for one of the following fields:

             *  worklogs
             *  attachments
      security:
        - basicAuth: [ ]
        - OAuth2:
            - write:jira-work
        - { }
      summary: Add worklog
      tags:
        - Issue worklogs
      x-atlassian-data-security-policy:
        - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
        - scheme: OAuth2
          scopes:
            - write:jira-work
          state: Current
        - scheme: OAuth2
          scopes:
            - write:issue-worklog:jira
            - write:issue-worklog.property:jira
            - read:avatar:jira
            - read:group:jira
            - read:issue-worklog:jira
            - read:project-role:jira
            - read:user:jira
            - read:issue-worklog.property:jira
          state: Beta
      x-atlassian-connect-scope: WRITE
    get:
      deprecated: false
      description: |-
        Returns worklogs for an issue (ordered by created time), starting from the oldest worklog or from the worklog started on or after a date and time.
        
        Time tracking must be enabled in Jira, otherwise this operation returns an error. For more information, see [Configuring time tracking](https://confluence.atlassian.com/x/qoXKM).
        
        This operation can be accessed anonymously.
        
        **[Permissions](#permissions) required:** Workloads are only returned where the user has:
        
         *  *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.
         *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
         *  If the worklog has visibility restrictions, belongs to the group or has the role visibility is restricted to.
      operationId: getIssueWorklog
      parameters:
        - description: The ID or key of the issue.
          in: path
          name: issueIdOrKey
          required: true
          schema:
            type: string
        - description: The index of the first item to return in a page of results (page offset).
          in: query
          name: startAt
          schema:
            default: 0
            format: int64
            type: integer
        - description: The maximum number of items to return per page.
          in: query
          name: maxResults
          schema:
            default: 5000
            format: int32
            type: integer
        - description: The worklog start date and time, as a UNIX timestamp in milliseconds, after which worklogs are returned.
          in: query
          name: startedAfter
          schema:
            format: int64
            type: integer
        - description: The worklog start date and time, as a UNIX timestamp in milliseconds, before which worklogs are returned.
          in: query
          name: startedBefore
          schema:
            format: int64
            type: integer
        - description: Use [expand](#expansion) to include additional information about worklogs in the response. This parameter accepts`properties`, which returns worklog properties.
          in: query
          name: expand
          schema:
            default: ""
            type: string
      responses:
        "200":
          content:
            application/json:
              example: '{"maxResults":1,"startAt":0,"total":1,"worklogs":[{"author":{"accountId":"5b10a2844c20165700ede21g","active":false,"displayName":"Mia Krystof","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"},"comment":{"type":"doc","version":1,"content":[{"type":"paragraph","content":[{"type":"text","text":"I did some work here."}]}]},"id":"100028","issueId":"10002","self":"https://your-domain.atlassian.net/rest/api/3/issue/10010/worklog/10000","started":"2021-01-17T12:34:00.000+0000","timeSpent":"3h 20m","timeSpentSeconds":12000,"updateAuthor":{"accountId":"5b10a2844c20165700ede21g","active":false,"displayName":"Mia Krystof","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"},"updated":"2021-01-18T23:45:00.000+0000","visibility":{"identifier":"276f955c-63d7-42c8-9520-92d01dca0625","type":"group","value":"jira-developers"}}]}'
              schema:
                $ref: '#/components/schemas/PageOfWorklogs'
          description: Returned if the request is successful
        "401":
          description: Returned if the authentication credentials are incorrect or missing.
        "404":
          description: |-
            Returned if:
            
             *  the issue is not found or the user does not have permission to view the issue.
             *  `startAt` or `maxResults` has non-numeric values.
             *  time tracking is disabled.
      security:
        - basicAuth: [ ]
        - OAuth2:
            - read:jira-work
        - { }
      summary: Get issue worklogs
      tags:
        - Issue worklogs
      x-atlassian-data-security-policy:
        - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
        - scheme: OAuth2
          scopes:
            - read:jira-work
          state: Current
        - scheme: OAuth2
          scopes:
            - read:group:jira
            - read:issue-worklog:jira
            - read:issue-worklog.property:jira
            - read:project-role:jira
            - read:user:jira
            - read:avatar:jira
          state: Beta
      x-atlassian-connect-scope: READ

components:
  schemas:
    Worklog:
      #          additionalProperties: true
      description: Details of a worklog.
      properties:
        author:
          allOf:
            - $ref: '#/components/schemas/UserDetails'
          description: Details of the user who created the worklog.
          readOnly: true
        comment:
          description: A comment about the worklog in [Atlassian Document Format](https://developer.atlassian.com/cloud/jira/platform/apis/document/structure/). Optional when creating or updating a worklog.
        id:
          description: The ID of the worklog record.
          readOnly: true
          type: string
        issueId:
          description: The ID of the issue this worklog is for.
          readOnly: true
          type: string
        started:
          description: The datetime on which the worklog effort was started. Required when creating a worklog. Optional when updating a worklog.
          type: string
          example: 2026-01-16T08:00:00.000Z
        timeSpent:
          description: The time spent working on the issue as days (\#d), hours (\#h), or minutes (\#m or \#). Required when creating a worklog if `timeSpentSeconds` isn't provided. Optional when updating a worklog. Cannot be provided if `timeSpentSecond` is provided.
          type: string
        timeSpentSeconds:
          description: The time in seconds spent working on the issue. Required when creating a worklog if `timeSpent` isn't provided. Optional when updating a worklog. Cannot be provided if `timeSpent` is provided.
          format: int64
          type: integer
      type: object
      xml:
        name: worklog
    PageOfWorklogs:
      description: Paginated list of worklog details
      properties:
        maxResults:
          description: The maximum number of results that could be on the page.
          format: int32
          readOnly: true
          type: integer
        startAt:
          description: The index of the first item returned on the page.
          format: int32
          readOnly: true
          type: integer
        total:
          description: The number of results on the page.
          format: int32
          readOnly: true
          type: integer
        worklogs:
          description: List of worklogs.
          items:
            $ref: '#/components/schemas/Worklog'
          readOnly: true
          type: array
      type: object
    UserDetails:
      additionalProperties: false
      description: |-
        User details permitted by the user's Atlassian Account privacy settings. However, be aware of these exceptions:
        
         *  User record deleted from Atlassian: This occurs as the result of a right to be forgotten request. In this case, `displayName` provides an indication and other parameters have default values or are blank (for example, email is blank).
         *  User record corrupted: This occurs as a results of events such as a server import and can only happen to deleted users. In this case, `accountId` returns *unknown* and all other parameters have fallback values.
         *  User record unavailable: This usually occurs due to an internal service outage. In this case, all parameters have fallback values.
      properties:
        accountId:
          description: The account ID of the user, which uniquely identifies the user across all Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*.
          maxLength: 128
          type: string
      type: object
