info:
  contact:
    email: ecosystem@atlassian.com
  description: Jira Cloud platform REST API documentation
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  title: The Jira Cloud platform REST API
  version: 1001.0.0-SNAPSHOT-ef55481e3249757dd639723a2c7a91b5bcc8136a
openapi: 3.0.1
paths:
  /rest/api/3/issue/{issueIdOrKey}/worklog:
    post:
      deprecated: false
      description: |-
        Adds a worklog to an issue.

        Time tracking must be enabled in Jira, otherwise this operation returns an error. For more information, see [Configuring time tracking](https://confluence.atlassian.com/x/qoXKM).

        This operation can be accessed anonymously.

        **[Permissions](#permissions) required:**

         *  *Browse projects* and *Work on issues* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.
         *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
      operationId: addWorklog
      parameters:
        - description: The ID or key the issue.
          in: path
          name: issueIdOrKey
          required: true
          schema:
            type: string
        - description: Whether users watching the issue are notified by email.
          in: query
          name: notifyUsers
          schema:
            default: true
            type: boolean
        - description: |-
            Defines how to update the issue's time estimate, the options are:

             *  `new` Sets the estimate to a specific value, defined in `newEstimate`.
             *  `leave` Leaves the estimate unchanged.
             *  `manual` Reduces the estimate by amount specified in `reduceBy`.
             *  `auto` Reduces the estimate by the value of `timeSpent` in the worklog.
          in: query
          name: adjustEstimate
          schema:
            default: auto
            enum:
              - new
              - leave
              - manual
              - auto
            type: string
        - description: The value to set as the issue's remaining time estimate, as days (\#d), hours (\#h), or minutes (\#m or \#). For example, *2d*. Required when `adjustEstimate` is `new`.
          in: query
          name: newEstimate
          schema:
            type: string
        - description: The amount to reduce the issue's remaining estimate by, as days (\#d), hours (\#h), or minutes (\#m). For example, *2d*. Required when `adjustEstimate` is `manual`.
          in: query
          name: reduceBy
          schema:
            type: string
        - description: Use [expand](#expansion) to include additional information about work logs in the response. This parameter accepts `properties`, which returns worklog properties.
          in: query
          name: expand
          schema:
            default: ""
            type: string
        - description: Whether the worklog entry should be added to the issue even if the issue is not editable, because jira.issue.editable set to false or missing. For example, the issue is closed. Connect and Forge app users with *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg) can use this flag.
          in: query
          name: overrideEditableFlag
          schema:
            default: false
            type: boolean
      requestBody:
        content:
          application/json:
            example:
              comment:
                content:
                  - content:
                      - text: I did some work here.
                        type: text
                    type: paragraph
                type: doc
                version: 1
              started: 2021-01-17T12:34:00.000+0000
              timeSpentSeconds: 12000
              visibility:
                identifier: 276f955c-63d7-42c8-9520-92d01dca0625
                type: group
            schema:
              $ref: '#/components/schemas/Worklog'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worklog'
          description: Returned if the request is successful.
        "400":
          description: |-
            Returned if:

             *  `adjustEstimate` is set to `new` but `newEstimate` is not provided or is invalid.
             *  `adjustEstimate` is set to `manual` but `reduceBy` is not provided or is invalid.
             *  the user does not have permission to add the worklog.
             *  the request JSON is malformed.
        "401":
          description: Returned if the authentication credentials are incorrect.
        "404":
          description: Returned if the issue is not found or the user does not have permission to view it.
        "413":
          description: |-
            Returned if the per-issue limit has been breached for one of the following fields:

             *  worklogs
             *  attachments
      security:
        - basicAuth: []
        - OAuth2:
            - write:jira-work
        - {}
      summary: Add worklog
      tags:
        - Issue worklogs
      x-atlassian-data-security-policy:
        - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
        - scheme: OAuth2
          scopes:
            - write:jira-work
          state: Current
        - scheme: OAuth2
          scopes:
            - write:issue-worklog:jira
            - write:issue-worklog.property:jira
            - read:avatar:jira
            - read:group:jira
            - read:issue-worklog:jira
            - read:project-role:jira
            - read:user:jira
            - read:issue-worklog.property:jira
          state: Beta
      x-atlassian-connect-scope: WRITE

components:
  schemas:
    Worklog:
#          additionalProperties: true
          description: Details of a worklog.
          properties:
            comment:
              description: A comment about the worklog in [Atlassian Document Format](https://developer.atlassian.com/cloud/jira/platform/apis/document/structure/). Optional when creating or updating a worklog.
            id:
              description: The ID of the worklog record.
              readOnly: true
              type: string
            issueId:
              description: The ID of the issue this worklog is for.
              readOnly: true
              type: string
            started:
              description: The datetime on which the worklog effort was started. Required when creating a worklog. Optional when updating a worklog.
              type: string
              example: 2026-01-16T08:00:00.000Z
            timeSpent:
              description: The time spent working on the issue as days (\#d), hours (\#h), or minutes (\#m or \#). Required when creating a worklog if `timeSpentSeconds` isn't provided. Optional when updating a worklog. Cannot be provided if `timeSpentSecond` is provided.
              type: string
            timeSpentSeconds:
              description: The time in seconds spent working on the issue. Required when creating a worklog if `timeSpent` isn't provided. Optional when updating a worklog. Cannot be provided if `timeSpent` is provided.
              format: int64
              type: integer
          type: object
          xml:
            name: worklog
