<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %blue(%d{ISO8601}) - %msg%n%throwable
            </pattern>
        </encoder>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="error">
        <appender-ref ref="Console"/>
    </root>

    <logger name="Clockify2Jira" level="info" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

</configuration>
